<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="API Testing Suite" verbose="1">
    <listeners>
        <listener class-name="com.cdk.qa.framework.listeners.TestListener"/>
        <listener class-name="com.cdk.qa.framework.listeners.AnnotationTransformer"/>
    </listeners>
    <test name="API Tests" parallel="methods"
		thread-count="10">
        <classes>
            <class name="com.cdk.qa.framework.validators.ApiValidationGET"/>
        </classes>
    </test>
</suite>